
/* Small devices (landscape phones, 576px and up) */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-main-container {
    display: flex;
    padding-top: 50px;
  }

  .home-main-container .button {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgba(51, 51, 51, 1);
    color: white
  }

  .home-main-container .button:hover  {
    background-color: grey;
  }

  .home-half-container {
    width: 50%;
  }
}

.visits-page {
  text-align: center;
}




/* NavBar CSS */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
/* End NavBar CSS */

/* HomePage */
.app-welcome {
  height: 500px;
  background-image:
  url('./images/Pier-A-Harbor-House.jpg');
  background-size: cover;
  background-position: center center;
}

.welcome-text {
  text-align: center;
  padding-top: 150px;
  color: white;
}
/* end HomePage */




/* Login page */
.login-page-contianer .app-name {
  text-align-last: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.half-login input {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

.login-submit button{
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.login-submit button:hover  {
  background-color: grey;
}

/* End Login page CSS*/

/* Signup Page */

.signup-page {
  margin-top: 20px;
  text-align: center;
}

.welcome-signup{
  font-size: 40px;
}

.signup-form input {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

.submit-signup input{
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.submit-signup input:hover  {
  background-color: grey;
}

.add-buttons button {
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 12px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.add-buttons button:hover  {
  background-color: grey;
}

/* end Signup Page */

/* User Show Page */
.user-show-page {
  margin: 10px 50px ;
  display: flex;
  flex-direction: row;
}

.user-side-of-page {
  width: 33%;
  border-right: solid;
  text-align: center;

}

.user-pic img{
  
  width: 80%;
  border-radius: 10%;
}

.restaurant-side-of-page {
  width: 67%;
  text-align: center;
}

.user-show-restaurant-visit {
  margin: 20px;
  display: flex;
  align-items: center;
  max-height: 150px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 15px;
}

.rank-of-restaurant {
  font-size: 1.25em;
  width: 10%;
  max-height: 150px;
}

.photo-of-restaurant {
  width: 25%;
}
.photo-of-restaurant img{
  max-height: 140px;
  width: 100%;
  border-radius: 10px;
}

.info-on-visit {
  width: 57%;
  max-height: 150px;
  margin: 0;
}


.rankings-container button {
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 12px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.rankings-container button:hover  {
  background-color: grey;
}

.rankings-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.drag-info img{
  width: 300px;
  height: 200px;
}



/* End User Show Page */

/* add 5 restaurants page */
.add-multiple-restaurants-page {

}

.add-multi-res-header {
  border-bottom: solid;
}

.add-multi-res-container {
  display: flex;
  flex-direction: row;
}

.add-multi-box {
  padding-top: 20px;

  width: 50%;
}

.search-multi-component {
  text-align: center;
  padding-top: 20px;
}

.small-restaurant-component {
  display: flex;
  flex-direction: row;
  overflow:hidden;
  text-align: left;
  background-color: rgba(51, 51, 51, .6);
  border-radius: 10px;
  margin: 20px;
  align-items: center;
}

.small-restaurant-component:hover {
  background-color: rgba(51, 51, 51, .8);
}

.small-restaurant-component-img {
  width: 40%;
  height: 150px;

}
.small-restaurant-component-img img{
  margin: 15%;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.small-restaurant-component-info{
  padding-left: 20px;

  width: 60%;
  justify-content: center;
  text-align: center;
  align-items: baseline;
}
/* end of add 5 restaurants page */

.restaurant-info-view-page {
  display: flex;
  flex-direction: row;
}

.search-multi-component-third {
  width: 33%;
}

.restaurantViewTwoThirds {
  width: 66%;
  text-align: left;
}

.restaurant-view-img {
  width: 50%;
  max-height: 300px;
}

.user-map-page-container {
  display: flex;
  flex-direction: column;
}

.top-of-map-page {
  width: 100%;
}

.user-map-container {
  width: 100%;
  height: 800px;
  text-align: left;
}

.drag-info img {
  border-radius: 20px;
}

/*
.on-the-map:hover {
  background: rgba(0,0,0,0.8);
  color: #fff;
}
.mapboxgl-marker on-the-map  {
  display: none;
}
.map-on-hover:hover  {
  display: inline-block;
  background: rgba(0,0,0,0.8);
  color: #fff;
} */


/* Styling the popups */
/* .mapboxgl-popup {
  max-width: 500px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
div.card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px rgb(100,121,140, 0.5);
} */


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

@media (max-width: 576px) {
  .user-show-page {
    margin: 10px 50px ;
    display: flex;
    flex-direction: column;
  }

  .user-side-of-page {
    width: 100%;
    border: none;
    text-align: center;
    position: fixed;
  }

  .restaurant-side-of-page {
    width: 100%;
  }

}
