
/* Small devices (landscape phones, 576px and up) */
.App {
  background-color:  rgba(220, 220, 220, 1);
  min-height: 800px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

  .home-main-container {
    display: flex;
    padding-top: 50px;
  }

  .home-main-container .button {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgba(51, 51, 51, .9);
    color: white
  }

  .home-main-container .button:hover  {
    background-color: grey;
  }

  .home-half-container {
    width: 50%;
  }


.visits-page {
  text-align: center;
}




/* NavBar CSS */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
/* End NavBar CSS */

/* HomePage */
.app-welcome {
  height: 800px;
  background-image:
  url('./images/Pier-A-Harbor-House.jpg');
  background-size: cover;
  background-position: center center;
}

.welcome-text {
  font-size: 1.5em;
  text-align: center;
  padding-top: 150px;
  color: white;
  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, 1),
  1px -1px 0 rgba(0, 0, 0, 1),
  -1px 1px 0 rgba(0, 0, 0, 1),
  1px 1px 0 rgba(0, 0, 0, 1);
}
/* end HomePage */




/* rgba(193, 128, 215, page */
.app-name h1{
  padding-top: 40px;
  margin-top: 0px;
}

.login-page-contianer {
  position: fixed;
  top: 20%;
  padding: 0px 30px 60px 30px;

  background-color: rgba(51, 51, 51, .2);
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 25px;
}

.login-page-contianer .app-name {
  text-align-last: center;
  font-size: 2em;
}

.login-page-contianer-pic {
  margin-top: 0px;
  min-height: 700px;
  background-image:
  url('./images/nyc.jpg');
  background-size: cover;
  background-position: center center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.half-login input {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

.login-submit button{
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.login-submit button:hover  {
  background-color: grey;
}

/* End Login page CSS*/

/* Signup Page */

.signup-page-pic {
  margin-top: 0px;
  min-height: 700px;
  background-image:
  url('./images/LArtusi.jpg');
  background-size: cover;
  background-position: center center;
}

.signup-page {
  position: fixed;
  margin-left: 30%;
  margin-right: 30%;
  top: 20%;
  margin-top: 0px;
  text-align: center;
  background-color: rgba(51, 51, 51, .7);
  padding: 20px 30px 30px 30px;
  border-radius: 25px;
}

.welcome-signup {
  font-size: 50px;
  padding-top: 0px;
  margin-top: 0px;
  color: rgba(255,255,255,1);
}



.signup-form input {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

.submit-signup input{
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.submit-signup input:hover  {
  background-color: grey;
}

.add-buttons button {
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 12px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.add-buttons button:hover  {
  background-color: grey;
}

/* end Signup Page */

/* User Show Page */
.user-show-page {
  margin: 10px 50px ;
  display: flex;
  flex-direction: row;
}

.user-side-of-page {
  width: 33%;
  border-right: solid;
  text-align: center;

}

.user-pic img{
  box-shadow: 5px 5px rgba(51, 51, 51, .2);
  width: 80%;
  border-radius: 10%;
}

.restaurant-side-of-page {
  width: 67%;
  text-align: center;
}

/* .user-show-restaurant-visit {
  width: 60%;
  margin: 20px;
  display: flex;
  align-items: center;
  min-height: 150px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 15px;
  align-content: center;
} */

.user-show-restaurant-visit {
  display: flex;
  width: 70%;
  flex-direction: row;
  overflow:hidden;
  text-align: center;
  box-shadow: 10px 10px rgba(51, 51, 51, .2);
  background-color: rgba(51, 51, 51, .6);
  border-radius: 10px;
  margin: 20px;
  align-items: center;
}

.rank-of-restaurant {
  font-size: 1.25em;
  width: 10%;
  max-height: 150px;
}

.photo-of-restaurant {
  width: 25%;
}
.photo-of-restaurant img{
  max-height: 140px;
  width: 100%;
  border-radius: 10px;
}

.info-on-visit {
  width: 57%;
  min-height: 150px;
}


.rankings-container button {
  margin-top: 20px;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 12px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.rankings-container button:hover  {
  background-color: grey;
}

.rankings-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.drag-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.drag-info img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.edit-rank-res-name {
  width: 40%;
}

.edit-rank-res-name h2{
  justify-content: center;
  text-align: center;
}

.slider-holder {
  font-size: 1em;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 614px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 5px grey;
  background:  rgba(51, 51, 51, .4);
}

.slider-holder h1{
  padding-top: 20px;
  margin: 0px;
}

.slider-holder:hover .visit-info {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 30px;
    background:  rgba(51, 51, 51, .4);
    padding-top: 5px;
    padding-bottom: 5px;
}


.visit-info {
  display: none;
}



.members-image{
  margin-top: 20px;
  border-radius: 20px;
  max-width: 600px;
  max-height: 570px;
}

.members-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/* End User Show Page */

/* add 5 restaurants page */
.add-multiple-restaurants-page {

}

.add-multi-res-header {
  border-bottom: solid;
}

.add-multi-res-container {
  display: flex;
  flex-direction: row;
}

.add-multi-box {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 50%;
}

.add-multi-box-border {
  background-color: rgba(0, 0, 0, 0);
  width: 0%;
}

.search-multi-component {
  text-align: center;
  padding-top: 20px;
}

.small-restaurant-component {
  display: flex;
  flex-direction: row;
  overflow:hidden;
  text-align: left;
  background-color: rgba(51, 51, 51, .6);
  border-radius: 10px;
  margin: 10px;
  align-items: center;
}

.small-restaurant-component:hover {
  background-color: rgba(51, 51, 51, .8);
}

.small-restaurant-component-img {
  width: 40%;
  height: 100px;
  margin: 10px;

}
.small-restaurant-component-img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.small-restaurant-component-info{
  padding-left: 20px;

  width: 60%;
  justify-content: center;
  text-align: center;
  align-items: baseline;
}
/* end of add 5 restaurants page */

.restaurant-info-view-page {
  display: flex;
  flex-direction: row;
}

.search-multi-component-third {
  width: 33%;
}

.restaurantViewTwoThirds {
  width: 66%;
  text-align: left;
}

.restaurant-view-img {
  width: 50%;
  max-height: 300px;
}

.user-map-page-container {
  display: flex;
  flex-direction: column;
}

.top-of-map-page {
  width: 100%;
}

.user-map-container {
  width: 100%;
  height: 800px;
  text-align: left;
}



.mapButtons {
  margin-top: 10px;
  text-align: center;
}

.mapButtons button {
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.mapButtons button:hover  {
  background-color: grey;
}

.search-bar {
  text-align: center;
}

.search-bar input{
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}
/* New Visit Css */

.new-visit-form {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, .5);
}
.new-visit-date {
  margin: 20px;
}

.new-visit-comment {
  margin: 20px;
}

.new-visit-upload {
  margin: 20px;
  padding-left: 80px;
}

.new-visit-date input {
  width: 100px;
  height: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.new-visit-meal-eaten input{
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

.pop-up-on-map {
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(51, 51, 51, .5);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.pop-up-on-map img {
  border-radius: 10px;
}

.search-multi-component input{
  width: 200px;
  height: 20px;
  margin-top: 20px;
  border-radius: 25px;
}


.add-multi-box button {
  width: 150px;
  height: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: white
}

.add-multi-box button:hover  {
  background-color: grey;
}

/*
.on-the-map:hover {
  background: rgba(0,0,0,0.8);
  color: #fff;
}
.mapboxgl-marker on-the-map  {
  display: none;
}
.map-on-hover:hover  {
  display: inline-block;
  background: rgba(0,0,0,0.8);
  color: #fff;
} */


/* Styling the popups */
/* .mapboxgl-popup {
  max-width: 500px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
div.card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px rgb(100,121,140, 0.5);
} */


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

@media (max-width: 576px) {
  .user-show-page {
    margin: 10px 50px ;
    display: flex;
    flex-direction: column;
  }

  .user-side-of-page {
    width: 100%;
    border: none;
    text-align: center;
    position: fixed;
  }

  .restaurant-side-of-page {
    width: 100%;
  }

}
